@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto.woff2) format("woff2"), url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/robotobold.woff2) format("woff2"), url("../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/robotomedium.woff2) format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}
:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #666666;
  --basic-extra-gray: #a6a6a6;
  --basic-gray: #444444;
  --basic-light-gray: #dfdfdf;
  --basic-push-gray: #d5d5d5;
  --basic-extra-light-gray: #eeeeee;
  --basic-extra-light-2-gray: #e1e1e1;
  --basic-white: #ffffff;
  --basic-light-red: #fb565a;
  --basic-red: #e74246;
  --basic-dark-red: #d7373b;
  --basic-light-green: #00ca74;
  --basic-green: #00bc6c;
  --basic-dark-green: #00aa62;
  --basic-light-yellow: #efc84a;
  --basic-yllow: #eab534;
  --basic-dark-yellow: #e5a722;
  --default-transition: 0.15s ease-in-out;
}
.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height:auto;
}
.button {
  border: 0;
  background-color: none;
}
.main-header {
  background-color: var(--basic-extra-light-gray);
}
.main-logo {
  transition: var(--default-transition);
}
.main-logo:hover,
.main-logo:focus {
  color: var(--basic-black);
}
.main-logo:active {
  opacity: 30%;
}
.main-navigation{
  font-size: 16px;
  line-height: 1.87;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent;
}
.navigation-list {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}
.basket-link {
  text-transform: uppercase;
}
.navigation-list a,
.basket-link {
  color: var(--basic-black);
  transition: var(--default-transition);
}
.navigation-list a:hover,
.basket-link:hover,
.navigation-list a:focus,
.basket-link:focus {
  color: var(--basic-light-red);
}
.navigation-list a:active,
.basket-link:active {
  opacity: 30%;
}
.active {

}
.content {

}
.page-main-top {
  background-color: var(--basic-extra-light-gray);
}
.page-main-top-title {
font-size: 55px;
line-height: 1;
font-weight: 500;
margin: 0;
}
.hidden {
  visibility: hidden;
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
	border: 0;
	height: 1px;
	width: 1px;
}
.none {
  margin: 0;
}
.sliders{
  background-color: var(--basic-extra-light-gray);
}
.slider {
  font-weight: 500;
}
.slider-strong {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-light-red);
  color: var(--basic-white);
  border-radius: 3px;
  min-width: 160px;
  min-height: 50px;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  text-align: center;
  transition: var(--default-transition);
  cursor: pointer;
  outline: 0;
}
.button:hover,
.button:focus {
  background-color: var(--basic-red);
}
.button:active {
  background-color: var(--basic-dark-red);
  color: rgba(255, 255, 255, 0.3);
}
.green {
  background-color: var(--basic-light-green);
}
.green:hover,
.green:focus {
  background-color: var(--basic-green);
}
.green:active {
  background-color: var(--basic-dark-green);
}
.yellow {
  background-color: var(--basic-light-yellow);
}
.yellow:hover,
.yellow:focus {
  background-color: var(--basic-yllow);
}
.yellow:active {
  background-color: var(--basic-dark-yellow);
}
.gray {
  background-color: var(--basic-extra-light-gray);
}
.gray:hover,
.gray:focus {
  background-color: var(--basic-light-gray);
}
.gray:active {
  background-color: var(--basic-push-gray);
}
.products {
  list-style: none;
  padding: 0;
}
.products-title {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}
.about {

}
.tagline-strong {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  color: var(--basic-black);
}
.possibility {

}
.subtitle {
  font-weight: 700;
  text-transform: uppercase;
}
.possibility-list {
  list-style: none;
  padding: 0;
}
.opportunities {

}
.opportunities-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}
.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin-top: 20px;
  padding-top: 20px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.125;
}
.percent {
  font-size: 26px;
  line-height: 1.54;
  font-weight: 700;
}
.advantages dd {
  grid-row: 1 / 2;
  margin: 0;
  font-size: 45px;
  line-height: 1.42;
  font-weight: 700;
  color: var(--basic-black);
}
.partners a {
  list-style: none;
  padding: 0;
  opacity: 20%;
  transition: var(--default-transition);
}
.partners a:hover,
.partners a:focus {
  opacity: 100%;
}
.partners a:active {
  opacity: 10%;
}
.form-catalog{
font-size: 16;
line-height: 1.18;
}
.fieldset {
  border: none;
}
.legend {
  font-size: 18px;
  line-height: 1.66;
  font-weight: 700;
  text-transform: uppercase;
}
.radio {
  list-style: none;
  padding: 0;
}
.checkbox {
  list-style: none;
  padding: 0;
}
.filter {

}
.filter-list {
  list-style: none;
  padding: 0;
}
.goods {
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.125;
}
.goods-title {
  font-size: 18px;
  line-height: 1.66;
  font-weight: 700;
  text-transform: uppercase;
}
.pagination {
  list-style: none;
  padding: 0;
}
.contacts {

}
.company {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 700;
}
.address {
  font-size: 16px;
  font-style: normal;
  line-height: 1.125;
  font-weight: 400;
  color: var(--basic-dark);
}
.main-footer {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 400;
  color: var(--basic-gray);
  background-color: var(--basic-white);
}
.social {
  list-style: none;
  padding: 0;
}
.pseudo-subtitle {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  color: var(--basic-black);
}
.modal {

}
.modal-title {
  font-size: 45px;
  line-height: auto;
  font-weight: 700;
}
.modal-form {
  font-size: 16px;
  line-height: 1.125;
  font-weight: 700;
}
