@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto.woff2) format("woff2"), url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/robotobold.woff2) format("woff2"), url("../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/robotomedium.woff2) format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}
:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #666666;
  --basic-extra-gray: #a6a6a6;
  --basic-gray: #444444;
  --basic-light-gray: #dfdfdf;
  --basic-push-gray: #d5d5d5;
  --basic-extra-light-gray: #eeeeee;
  --basic-extra-light-2-gray: #e1e1e1;
  --basic-white: #ffffff;
  --basic-light-red: #fb565a;
  --basic-red: #e74246;
  --basic-dark-red: #d7373b;
  --basic-light-green: #00ca74;
  --basic-green: #00bc6c;
  --basic-dark-green: #00aa62;
  --basic-light-yellow: #efc84a;
  --basic-yllow: #eab534;
  --basic-dark-yellow: #e5a722;
  --default-transition: 0.15s ease-in-out;
}
.page-body {
  font-family: "robato", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height:auto;
}
.main-header {
  background-color: var(--basic-extra-light-gray);
}
.main-logo:hover,
.main-logo:focus {
  color: var(--basic-black);
}
.main-navigation{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent;
}
.navigation-list {
  list-style: none;
}
.navigation-list a,
.basket-link {
  color: var(--basic-black);
}
.navigation-list a:hover,
.basket-link:hover,
.navigation-list a:focus,
.basket-link:focus {
  color: var(--basic-light-red);
}
.navigation-list a:active,
.basket-link:active {
  opacity: 30%;
}
.hidden {
  visibility: hidden;
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
}
.slaiders{
  background-color: var(--basic-extra-light-gray);
}
.slaider {
  font-weight: 500;
}
.slaider-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: transparent;
}
.button {
  display: block;
  width: 160px;
  height: 50px;
  border-radius: 3%;
  background-color: var(--basic-light-red);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  transition: var(--default-transition);
}
.button:hover,
.button:focus {
  background-color: var(--basic-red);
}
.button:active {
  background-color: var(--basic-dark-red);
}
.green {
  background-color: var(--basic-light-green);
}
.green:hover,
.green:focus {
  background-color: var(--basic-green);
}
.green:active {
  background-color: var(--basic-dark-green);
}
.yellow {
  background-color: var(--basic-light-yellow);
}
.yellow:hover,
.yellow:focus {
  background-color: var(--basic-yllow);
}
.yellow:active {
  background-color: var(--basic-dark-yellow);
}
